[transmission]
http_base = http://chips.whatbox.ca/private/files/
host = localhost
port = 30446
timeout = 0.05
public_base = /home/tobobo

[server]
url = http://cucumber.whatbox.ca:8000/files/
host = localhost
port = 8000
